.cases{
  margin-bottom: 200px;
}
.cases__inner{
  display: flex;
}
.cases__col-left{
  width: 40%;
}
.cases__col-right{
  width: 60%;
}

.cases__box{
   padding: 0 30px;
}
.cases__text{
  margin-bottom: 20px;
}