.header{
  position: absolute;
  top: 0;
  width: auto;
  height: 100%;
  z-index: 10;
}
.header__bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9;
}
.header__inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__box{
  height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 9;
}
.header__link{
  text-align: center;
  transform-origin: center center 0;
  transform: rotate(-90deg);
  white-space: nowrap;
  margin: 70px 0;
  text-transform: uppercase;
  font-size: rem(18);
  transition: linear .2s;

  &:hover{
    color: $beige;
  }
}

.nav__social{
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 30px;
  left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.nav__social-link{
  text-transform: uppercase;
  font-size: rem(18);
  transition: linear .2s;
  margin: 10px 20px;
  position: relative;

  &:hover{
    color: $beige;
  }

  &:nth-child(2),
  &:nth-child(4){
    &::before{
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      background-color: #000;
      border-radius: 50%;
      left: -22px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// Menu
.nav {
	position: fixed;
  top: 0;
	height: 100%;
  display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
	list-style-type: none;
	background-color: #fff;
	padding: 30px 40px 0;
	z-index: 9;
	transition: 0.3s linear;
	transform: translateX(-100%);
	opacity: 0;

	&.active{
		transform: translateX(0);
		opacity: 1;
    box-shadow: 0 0 10px 10px rgba(#8a8787, .7);
	}
}
.nav__link{
	--fill-color: #dcc29c;
	position: relative;
	display: block;
	padding: 10px 0;
	font-family: Raleway, sans-serif;
	font-size: 3em;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-text-stroke: 2px var(--fill-color);
	background: linear-gradient(90deg, var(--fill-color) 0%, var(--fill-color) 100%);
	background-size: 0;
	background-position: left;
	background-repeat: no-repeat;
	color: transparent;
	background-clip: text;
  transition: 0.5s linear;
  	
	&:hover {
		background-size: 100%;
	}
}


